<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<br>


<input
  hint="username"
  type="text"
  class="form-control"
  [(ngModel)] = "username">

<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer><p>Server not created</p></ng-template>
<hr>

<button class="btn" (click)="username = ''" [disabled]="username === '2'">Reset User</button>

<p>User is {{ username }}</p>
<app-server *ngFor="let server of servers"></app-server>
